$dark: #002b5b;
$midDark: #2b4865;
$midLight: #256d85;
$light: #8fe3cf;
$yellow: #fd841f;
$grey: #e5e5e5;
$red: #ba181b;
$green: #588157;
$pink: #cd104d;
$purple: #5a189a;
$mauve: #894869;
$teal: #02c39a;
$mutedPurple: #9a8c98;
$neonOrg: #ff9770;
$maroon: #6e262d;
$mutedBlue: #8e9aaf;
$salmon: #e56b6f;
$navy: #023e8a;
$blue: #5aa9e6;
$burntOrange: #d08c60;
$midYellow: #eeba0b;
$gold: #dbb42c;
$silver: #6c757d;
$offWhite: #f8f9fa;
$brown: #583101;
$white: #ffffff;
$eggshell: #dbd5ba;
$lightPeach: #fbb8b1;
$peach: #f99f53;
$greenBlue: #00495f;
$greyblue: #3b695f;
$saffon: #f8c537;
$mainBrand: #b2493e;
$lightShade: #fbb8b1;
