$dark : #002B5B;
$midDark : #2B4865;
$midLight : #256D85;
$light : #8FE3CF;
$yellow :#FD841F;
$grey : #e5e5e5;
$red : #ba181b;
$green : #588157;
$pink : #CD104D;
$purple : #5a189a;
$mauve : #894869;
$teal : #02c39a;
$mutedPurple : #9a8c98;
$neonOrg : #ff9770;
$maroon : #6e262d;
$mutedBlue : #8e9aaf;
$salmon : #e56b6f;
$navy : #023e8a;
$blue : #5aa9e6;
$burntOrange : #d08c60;
$midYellow : #eeba0b;
$gold : #dbb42c;
$silver : #6c757d;