@use "colors" as color;
@use "breakpoints" as bp;
.aside {
  display: none;
}

@media screen and (min-width: bp.$desktopBP) {
  .aside {
    position: absolute;
    top: 265px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 250px;
    margin: 5px auto 5px 45px;
    height: 80vh;
    overflow: scroll;
    align-self: center;
    .display-button {
      align-self: flex-end;
      font-size: 24px;
      margin-right: 15px;
    }
    #filter {
      display: none;
      flex-direction: column;
      div {
        cursor: pointer;
        .tab {
          background-color: color.$lightPeach;
          color: color.$white;
          border-right: 1px solid color.$lightPeach;
          border-left: 1px solid color.$lightPeach;
          border-top: 1px solid color.$lightPeach;
          border-bottom: 1px solid #b2493e;
        }
        .selected {
          font-weight: bold;
          background-color: color.$white;
          color: color.$lightPeach;
          border-right: 1px solid color.$lightPeach;
          border-left: 1px solid color.$lightPeach;
          border-bottom: 1px solid #b2493e;
        }
      }
      .data {
        padding: 7.5px;
        border: 1px solid #b2493e;
        background-color: white;
        div.data-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          cursor: pointer;
          .tab {
            background-color: #eee;
          }
          li.aside-list-item {
            list-style-type: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
