@use "colors" as color;

h1:not(.main-heading) {
  font-size: 3rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.7rem;
}

@keyframes colorChange {
  0% {
    color: inherit;
  }
  10% {
    color: color.$purple;
  }
  15% {
    color: color.$maroon;
  }
  20% {
    color: color.$salmon;
  }
  30% {
    color: color.$neonOrg;
  }
  40% {
    color: color.$burntOrange;
  }
  50% {
    color: color.$midYellow;
  }
  60% {
    color: color.$blue;
  }
  70% {
    color: color.$light;
  }
  80% {
    color: color.$green;
  }
  90% {
    color: color.$teal;
  }
}

li:hover,
a:hover {
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
