@use "colors" as color;

.yellow {
  color: color.$yellow;
}
.red {
  color: color.$red;
}
.green {
  color: color.$green;
}

.Mystery:not(div) {
  color: color.$yellow;
}
.Mystery:not(small) {
  background-color: color.$yellow;
}

.Fiction:not(div) {
  color: color.$salmon;
}
.Fiction:not(small) {
  background-color: color.$salmon;
}

.Thriller:not(div) {
  color: color.$purple;
}
.Thriller:not(small) {
  background-color: color.$purple;
}

.Romance:not(div) {
  color: color.$mauve;
}
.Romance:not(small) {
  background-color: color.$mauve;
}

.Nonfiction:not(div) {
  color: color.$teal;
}
.Nonfiction:not(small) {
  background-color: color.$teal;
}

.Historical:not(div) {
  color: color.$mutedPurple;
}
.Historical:not(small) {
  background-color: color.$mutedPurple;
}

.LGBT:not(div) {
  color: color.$neonOrg;
}
.LGBT:not(small) {
  background-color: color.$neonOrg;
}

.Contemporary:not(div) {
  color: color.$maroon;
}
.Contemporary:not(small) {
  background-color: color.$maroon;
}

.Horror:not(div) {
  color: color.$red;
}
.Horror:not(small) {
  background-color: color.$red;
}

.Essays:not(div) {
  color: color.$mutedBlue;
}
.Essays:not(small) {
  background-color: color.$mutedBlue;
}

.World:not(div) {
  color: color.$navy;
}
.World:not(small) {
  background-color: color.$navy;
}

.Memoir:not(div) {
  color: color.$blue;
}
.Memoir:not(small) {
  background-color: color.$blue;
}

.Crime:not(div) {
  color: color.$maroon;
}
.Crime:not(small) {
  background-color: color.$maroon;
}
.Politics:not(div) {
  color: color.$red;
}
.Politics:not(small) {
  background-color: color.$red;
}
.Self:not(div) {
  color: color.$navy;
}
.Self:not(small) {
  background-color: color.$navy;
}

.YA:not(div) {
  color: color.$pink;
}
.YA:not(small) {
  background-color: color.$pink;
}

.Poetry:not(div) {
  color: color.$blue;
}
.Poetry:not(small) {
  background-color: color.$blue;
}

.Fantasy:not(div) {
  color: color.$burntOrange;
}
.Fantasy:not(small) {
  background-color: color.$burntOrange;
}

.Dystopia:not(div) {
  color: color.$navy;
}
.Dystopia:not(small) {
  background-color: color.$navy;
}

.Parenting:not(div) {
  color: color.$midYellow;
}
.Parenting:not(small) {
  background-color: color.$midYellow;
}
.Mental:not(div) {
  color: color.$navy;
}
.Mental:not(small) {
  background-color: color.$navy;
}
.Philosophy:not(div) {
  color: color.$blue;
}
.Philosophy:not(small) {
  background-color: color.$blue;
}
.History:not(div) {
  color: color.$midYellow;
}
.History:not(small) {
  background-color: color.$midYellow;
}

.Biography:not(div) {
  color: color.$mutedBlue;
}
.Biography:not(small) {
  background-color: color.$mutedBlue;
}

.Feminism:not(div) {
  color: color.$pink;
}
.Feminism:not(small) {
  background-color: color.$pink;
}
.Economics:not(div) {
  color: color.$burntOrange;
}
.Economics:not(small) {
  background-color: color.$burntOrange;
}

.Health:not(div) {
  color: color.$pink;
}
.Health:not(small) {
  background-color: color.$pink;
}

.Music:not(div) {
  color: color.$midYellow;
}
.Music:not(small) {
  background-color: color.$midYellow;
}
.Short:not(div) {
  color: color.$mauve;
}
.Short:not(small) {
  background-color: color.$mauve;
}

.Sports:not(div) {
  color: color.$gold;
}
.Sports:not(small) {
  background-color: color.$gold;
}

.Classics:not(div) {
  color: color.$navy;
}
.Classics:not(small) {
  background-color: color.$navy;
}

.Psychology:not(div) {
  color: color.$red;
}
.Psychology:not(small) {
  background-color: color.$red;
}
.Supernatural:not(div) {
  color: color.$silver;
}

.Supernatural:not(small) {
  color: color.$silver;
}
