@use 'colors' as color;


.yellow {
    color: color.$yellow;
}
.red {
    color: color.$red;
}
.green {
    color: color.$green;
}

.Mystery {
    color: color.$yellow;
}

.Fiction {
    color: color.$salmon;
}

.Thriller {
    color: color.$purple;
}

.Romance {
    color: color.$mauve;
}

.Nonfiction {
    color: color.$teal;
}

.Historical {
    color: color.$mutedPurple;
}

.LGBT {
    color: color.$neonOrg;
}

.Contemporary {
    color: color.$maroon;
}

.Horror {
    color: color.$red;
}

.Essays {
    color: color.$mutedBlue;
}

.World {
    color: color.$navy;
}

.Memoir {
    color: color.$blue;
}

.Crime {
    color: color.$maroon;
}
.Politics {
    color: color.$red;
}
.Self {
    color: color.$navy;
}

.YA {
    color: color.$pink;
}

.Poetry {
    color: color.$blue;
}

.Fantasy {
    color: color.$burntOrange;
}

.Dystopia {
    color: color.$navy;
}

.Parenting {
    color: color.$midYellow;
}
.Mental {
    color: color.$navy;
}
.Philosophy {
    color: color.$blue;
}
.History {
    color: color.$midYellow;
}

.Biography {
    color: color.$mutedBlue;
}

.Feminism {
    color: color.$pink;
}
.Economics {
    color: color.$burntOrange;
}

.Health {
    color: color.$pink;
}

.Music {
    color: color.$midYellow;
}
.Short {
    color: color.$mauve;
}

.Sports {
    color: color.$gold;
}

.Classics {
    color: color.$navy;
}

.Psychology {
    color: color.$red;
}
.Supernatural {
    color: color.$silver;
}